@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    background-color: lightgray;
    padding: 0;
    margin: 0;
    border: 0;
}
html, body {
    height: 100%;
    font-size: 16px;
    color: black;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    margin: 15px;
    width: 380px;
    height: 120px;
    border-radius: 25px;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: #9c9c9c9c 0px 3px 8px;
    overflow: hidden;
}
#calculation {
    background-color: white;
    padding-top: 10px;
}
#input {
    background-color: white;
    padding: 10px;
}

.buttons-grid {
    display: grid;
    padding-top: 10px;
    width: 380px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "clear clear delete delete"
                         "seven eight nine divide"
                         "four five six multiply"
                         "one two three subtract"
                         "decimal zero equals add";
    grid-auto-rows: 70px;
    gap: 10px;
}

.button {
    font-size: 30px;
    border-radius: 20px;
    color: grey;
    font-family: inherit;
    background-color: #f3f3f3;
    cursor: pointer;
    box-shadow: #9c9c9c9c 0px 3px 8px;
}
.button:hover {
    background-color: #b8b8b8b8;
    transform: scale(1.05);
}
#clear,
#delete {
    grid-column: span 2;
}

.operation:hover {
    background-color: orange;
    color: #f3f3f3;
}
#equals:hover {
    background-color: lightgreen;
    color: #f3f3f3;
}
#clear:hover {
    background-color: red;
    color: #f3f3f3;
}
#delete:hover {
    background-color: blue;
    color: #f3f3f3;
}