@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, h1 {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color:#1f2937;
    color: #f9faf8;
}

/* logo */
.logo a {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
/* navigation */
.navigation {
    display: flex;
    /* top, right, bottom, left */
    padding: 20px 10% 0 10%;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}
.nav-links > ul {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    gap: 28px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
a:hover {
    color: gray;
}

/* header */
.header {
    display: flex;
    /* add a padding around content */
    padding: 10%;
    justify-content: space-between;
    gap: 80px;
}
.image-place {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 500px;
}
.information h1 {
    font-size: 48px;
    font-weight: 900px;
}
.information p {
    font-size: 18px;
    columns: #e5e7eb;
}

/* random information and blue square borders */
.random {
    background-color: #f9faf8;
    color:#1f2937;
    /* top/bottom, left/right padding */
    padding: 5% 10%;
    place-items: center;
}
.random h3 {
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 900px;
}
.cards {
    display: flex;
    gap: 30px;
}
.card {
    display: block;
    /* center items to center */
    place-items: center;
    width: 200px;
}
.card-img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: solid 3px #3882f6;
    margin-bottom: 10px;
}
.card p {
    text-align: center;
    margin: 8px 0;
    color: #1f2937;
}

/* quote */
.quote {
    display: block;
    background-color: #e5e7eb;
    /* change text color */
    color: #1f2937;
    /* top, right, bottom, left */
    padding: 10%;
}
.quote .text{
    /* increase text size */
    font-size: 30px;
    /* italicize font */
    font-style: italic;
    /* get rid of p margin */
    margin: 0;
}
.quote .author {
    margin: 0;
    text-align: right;
}

/* signup section */
.signup {
    background-color: #f9faf8;
    /* top, right, bottom, left */
    padding: 5% 10%;
}
.bar {
    display: flex;
    background-color: #3882f6;
    padding: 5% 10%;
    justify-content: space-between;
    /* rounded corners */
    border-radius: 25px;
    /* algin items vertically */
    align-items: center;
}
.bar-title {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}
.bar-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

/* footer */
.footer {
    display: flex;
    background-color:#1f2937;
    /* align text to center of div, horizontal */
    justify-content: center;
    /* align itens to center vertically */
    align-items: center;
    height: 40px;
    color: #f9faf8;
    padding: 0 10% 0 10%;
}
.footer p {
    margin: 0;
}

/* signup button */
.signup-btn {
    border: 0;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    padding: 8px 32px;
}

.signup .signup-btn {
    border: solid 1px #f9faf8;
}
.signup-btn:hover {
    background-color: #f9faf8;
    color: #3882f6;
}