@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

body {
    font-family: "Roboto";
    display: flex;
    background-color: lightgray;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    margin: 20px;
}
.return {
    padding-bottom: 15px;
}

.etch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
}
/* controls */
.etch-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* button settings */
button {
    width: 150px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: lightgrey;
    cursor: pointer;
}
button.active {
    background-color: black;
    color: white;
}
button:hover,
input[type="color"]:hover {
    transform: scale(1.05);
}

/* editting color picker */
input[type='color'] {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px; /* get rid of auto color picker border */
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%; /* make the *actual* color be round */
}

/* editting range slider */
input[type='range'] {
  appearance: none;
  background-color: lightgrey;
}
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background-color: black;
}

 /* sketch grid */
.etch-grid {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 480px;
    height: 480px;
    background-color: white;
    box-shadow: black 0px 3px 8px;
    border: 1px solid black;
}

/* when the screen is less than 700px */
@media (max-width:720px) {
    .page-title {
        font-size: 50px;
    }
    .etch-container {
        flex-direction: column-reverse;
    }
    .etch-grid {
        width: 400px;
        height: 400px;
    }
}